.mainHeader {
    width: 100%;
    height: 3.5rem;
    background-color: rgb(119, 0, 0);
}

.mainHeaderNav {
    height: 100%;
    display: flex;
    align-items: center;
}

.mainHeaderItemList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.mainHeaderItem {
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
    margin: 10px;
}

body header nav ul li a {
    color: cornsilk;
}

body header nav ul li {
    padding-left: 10px;
}